<div *ngIf="b">
        <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
            <div class="form-group row">
                    <div class="col-md-4 mt-3 text-right ">
                <label>Change name</label>
                </div>
                <div class="col-md-8 mt-3 ">
                <input type="text" [value]="objecttoModify.name" name="name" [(ngModel)]=objectToModify.name>
            </div>
        </div>
            <div class="form-group row">
                    <div class="col-md-4 mt-3 text-right ">
                <label>Change Email-Id</label>
                </div>
                <div class="col-md-4 mt-3  ">
                <input type="text" [value]="objecttoModify.emailid" name="emailid" [(ngModel)]=objectToModify.emailid>
                </div>
            </div>
            <div class="form-group row">
                    <div class="col-md-4 mt-3 text-right">
                <label>Change mobile number</label>
                </div>
                <div class="col-md-4 mt-3  ">
                <input type="text" [value]="objecttoModify.number" name="number" [(ngModel)]=objectToModify.number>
                </div>
            </div>
            <div class="text-center">
            <button class="btn btn-primary text-center" type="submit">save</button>
        </div>
        </form>
    </div>
    
    <table class="table" *ngFor="let v of data4">
        <tr>
            <td>Name</td>
            <td>{{v.name}}</td>
        </tr>
        <tr>
            <td>Email-Id</td>
            <td>{{v.emailid}}</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>{{v.number}}</td>
        </tr>
        <tr>
            <td>D.O.B</td>
            <td>{{v.dob}}</td>
        </tr>
        <tr class="text-center">
            <button class="btn btn-success" (click)="editVendorProfile(v)">Edit</button>
        </tr>
    </table>
    








<!-- <table class="table ">
    <tr>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Mail-Id</th>
        <th>Address</th>
        
    </tr>
    <tr *ngFor="let v of data4">
        <td>{{v.name}}</td>
        <td>{{v.number}}</td>
        <td>{{v.emailid}}</td>
        <td>{{v.address}}</td>
        <button class="btn btn-success" (click)="editVendorProfile(v)">Edit</button>
    </tr>
    </table> -->
