<table class=" table ">
    <thead>
        <th>
           Owner Name
        </th>
        <th>Address</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Account Number</th>
        <th>IFSC</th>
    </thead>
    <tr *ngFor="let data of data">
        <td>{{data.ownername}}</td>
        <td>{{data.address}}</td>
        <td>{{data.amount}}</td>
        <td>{{data.date}}</td>
        <td>{{data.accnumber}}</td>
        <td>{{data.ifsc}}</td>
    </tr>