<nav class="navbar navbar-expand-sm bg-dark">
    <a href="" class="navbar-brand">
        <img src="assets/pro1.jpg" height="50px" width="50px">
    </a>
    <ul class="navbar-nav ml-auto">
        <div class="nav-item">
            <a routerLink="home" class="nav-link">Home </a>
        </div>
           
        <li class="nav-item ">
            
            <a routerLink="login" class="nav-link" *ngIf=!ls.isLoggedin>Login</a>
           
        </li>
        <li class="nav-item ">
            
                <a routerLink="login" class="nav-link" *ngIf=ls.isLoggedin>Logout</a>
            </li>
        <li class="nav-item ">
         
          <a routerLink="register" class="nav-link" >Registration</a>
         
      </li> 
      <div class="nav-item">
          <a routerLink="aboutus" class="nav-link">About Us</a>
      </div>
           
       </ul>
</nav>

<!-- <div class="container-fluid">
      <div class="row">
          <div class="col-md-9">
      <img src="assets/main.jpg" height="200px" width="1000px">
  </div>
  <div class="col-md-3">
      <img src="assets/main2.jpg" height="200px" width="300px">
  </div>
 </div>  -->
 <router-outlet></router-outlet>