
<div class="container-fluid">
    <h1 class="text-center text-dark mt-2">Change Password</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bg-dark">
                    <form #ref="ngForm"  (ngSubmit)="changePassword(ref.value)">
        <div class="form-group row">           
             <div class="col-md-4 mt-3 text-right text-white">
                <label for="m">UserName:</label>
            </div>
            <div class="col-md-8 mt-3">
                <input type="text" id="m" name="name" class="form-control" ngModel>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 mt-3 text-right text-white">
                <label for="n">Enter New Password:</label>
            </div>
            <div class="col-md-8 mt-3">
                <input type="password" id="n" name="password" class="form-control" ngModel>
            </div>
        </div>


       



        <p class="text-center mt-2 text-white">Select type of User</p>
        <div class="form-check text-center">
            <label for="owner" class="form-check-label text-white">
                <input type="radio" name="usertype" id="owner" value="owner" class=" text-center form-check-input" ngModel>Owner
            </label>
        </div>
        <div class="form-check text-center">
            <label for="vendor" class="form-check-label text-white">
                <input type="radio" name="usertype" id="vendor" value="vendor" class=" text-center form-check-input" ngModel>Vendor
            </label>
        </div>

        <div class="text-center mt-2">
            <button class="btn btn-success" type="submit"  >Submit</button>
        </div>
       
    </form>
</div>

</div>
<div class="col-md-3"></div>
</div>