<h1 class="text-center text-primary bt-3">
    Do Payments
</h1>
<form #ref="ngForm" (ngSubmit)="doPayments(ref.value)">
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="n">Owner Name</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="text" name="ownername" id="n" class="from-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="a">Address</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="text" name="address" id="a" class="from-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="am">Amount</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="number" name="amount" id="am" class="from-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="d">Date</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="date" name="date" id="d" class="from-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="an">Account Number</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="number" name="accnumber" id="an" class="from-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="i">IFSC</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="text" name="ifsc" id="i" class="from-control" ngModel>
        </div>
    </div>
   
    <div class="text-center">
        <button class="btn btn-info" type="submit">Add</button>
    </div>
</form>