<table class="table ">
    <tr>
        <th>Name of Vendor</th>
        <th>Address</th>
        <th>Amount</th>
        <th>Account Number</th>
        <th>Date of payment</th>
        <th>IFSC Code</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let data of data">
        <td>{{data.vendorname}}</td>
        <td>{{data.address}}</td>
        <td>{{data.amount}}</td>
        <td>{{data.accnumber}}</td>
        <td>{{data.date}}</td>
        <td>{{data.ifsc}}</td>
        <td>{{data.paystatus}}</td>
       
        </tr>
</table>