<table class="table">
    <thead class="bg-dark text-white">
        <th>H.No</th>
        <th>House type</th>
        <th>Rent</th>
    
        <th>Address</th>
        
        <th>Agreement</th>
        <th>Houseimage</th>
    </thead>
    <tr *ngFor="let h of data5">
        <td>{{h.hno}}</td>
        <td>{{h.ht}}</td>
        <td>{{h.rent}}</td>
     
        <td>{{h.address}}</td>
        <td>
            {{h.agreement}}
        </td>
        <td>{{h.houseimage}}</td>
        <button class="btn btn-primary" (click)="deleteDocument(h.ht)">Delete</button>

    </tr>
</table>