<nav class="navbar navbar-expand-sm nav-light">
    <ul class="navbar-nav">
        <li>
            <a routerLink="dopayments" class="nav-link">Do payments</a>
        </li>
       
        <li>
            <a routerLink="vendorpaymenthis" class="nav-link">View Payment History</a>
        </li>

    </ul>
</nav>
<router-outlet></router-outlet>














<!-- <table class=" table bg-dark text-white">
    <tr>
        <th>Owner Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Type of payment</th>
        <th>Date</th>
        <th>Status</th>
    </tr>
</table> -->
