<nav class="navbar navbar-expand-sm nav-light">
    <ul class="navbar-nav">
        <li>
            <a routerLink="addpayments" class="nav-link">Add Payment Methods</a>
        </li>
        <li>
            <a routerLink="viewpayments" class="nav-link">view Payment Methods</a>
        </li>
        <li>
            <a routerLink="viewpaymentshis" class="nav-link">View Payment History</a>
        </li>

    </ul>
</nav>
<router-outlet></router-outlet>