<input class="float-right" type="text" name="" id="" placeholder="search here.." [(ngModel)]='searchTerm'>
<table class="table ">
    <tr>
        <th>House Type</th>
       
        <th>Rent</th>
        <th>Address</th>
        <th>Ownername</th>
        <th>Agreement</th>
        <!-- <th>House Image</th> -->
        <th>Expected Rent</th>
        <th>Status</th>

    </tr>
    <tr *ngFor="let w of data1 | search : searchTerm">
        <td>{{w.ht}}</td>
        <td>{{w.rent}}</td>
        <td>{{w.address}}</td>
        <td>{{w.name}}</td>
        <td>{{w.agreement}}</td>
        <!-- <td>{{w.houseimage}}</td> -->
       
        <td>
            <input type="text" name="expectedrent" class="form-control" #ref>
        </td>
        <td>
        <button class="btn btn-primary" *ngIf="!(vendordata[0].name==w.vendorname)" (click)="sendRequest(ref.value,w)">{{b?"click for request":"request pending"}}</button>
     
        <p *ngIf="vendordata[0].name==w.vendorname">{{w.reqstatus}}</p>
    </td>

     
    </tr>

</table>

