<div class="container">
    <h2 class="text-center text-success">OTP Verification</h2>
    <div class="row mt-2">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)="otp(ref.value)">
                <div class="form-group">
                    <label for="otp">Enter OTP:</label>
                    <input type="number" id="otp" name="OTP" class="form-control" ngModel>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>