<form #ref="ngForm" (ngSubmit)="submitHouseData(ref.value)">

        <div class="form-group row">
                <div class="col-md-4 text-right">
                    <label for="n" >User Name :</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="n" name="name" class="form-control" ngModel>
                </div>
            </div>


        <div class="form-group row">
                <div class="col-md-4 text-right">
                    <label for="h" >H.No:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" id="h" name="hno" class="form-control" ngModel>
                </div>
            </div>

    <div class="form-group row">
        <div class="col-md-4 text-right">
            <label for="a" >House type :</label>
        </div>
        <div class="col-md-6">
            <input type="text" id="a" name="ht" class="form-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right">
            <label for="b" >Rent :</label>
        </div>
        <div class="col-md-6">
            <input type="text" id="b" name="rent" class="form-control" ngModel>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4 text-right">
            <label for="">House Image</label>
        </div>
        <div class="col-md-6">
           
            <input type="file" id="h" name="houseimage" class="form-control" ngModel>
        </div>
    </div> -->
    <div class="row form-group">
        <div class="col-md-4 text-right  mt-2">
            <label for="e" >Address:</label>
        </div>
        <div class="col-md-6">
            <textarea name="address" id="e" rows="5" class="form-control mt-2" ngModel ></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 text-right  mt-2">
            <label for="e" >Agreement:</label>
        </div>
        <div class="col-md-6">
            <textarea name="agreement" id="e" rows="5" class="form-control mt-2" ngModel></textarea>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-success text-white" type="submit" >Add</button>
    </div>

</form>