<div class="container pt-4">
    <!-- <div style="background-image:url(https://cdn.pixabay.com/photo/2018/01/11/19/02/architecture-3076685_960_720.jpg )"> -->
        <div style="background-image:url(https://tse2.mm.bing.net/th?id=OIP.IdNRJBHWV32yamYxsRl46gHaE8&pid=Api&P=0&w=261&h=175.jpg )" class="width=100%">
        <h2 class="text-light">The main intension of thus project is to reduce the time of searching of houses.</h2>
    </div>
    </div>


    