<table class=" table ">
    <thead>
        <th>
            Account Number
        </th>
        <th>IFSC Code</th>
        <th>Googlepay</th>
    </thead>
    <tr *ngFor="let p of data5">
        <td>{{p.accno}}</td>
        <td>{{p.ifsc}}</td>
        <td>{{p.googlepay}}</td>
    </tr>
</table>