<div class="container-fluid">
    <h1 class="text-center text-dark mt-2">Registration Form for owner/vendor</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bg-dark">
          <form #ref="ngForm" (ngSubmit)="submitRegisterData(ref.value)">
                
        <div class="form-group row">
            <div class="col-md-4 text-right mt-2 text-white">
                <label for="c">User Name:</label>
            </div>
            <div class="col-md-8 mt-2">
                <input type="text" id="c" #regname="ngModel" required minlength="5" name="name" class="form-control" ngModel>
         
            <div *ngIf="regname.invalid&&(regname.dirty||regname.touched)" class="alert text-danger">
                <div *ngIf="regname.errors.required">
                    <p>*Name is required</p>
                </div>
                <div *ngIf="regname.errors.minlength">
                    <p>Name must be atleast 4 characters long</p>
                </div>
            </div>
        </div>
    </div>
        <div class="form-group row">
          <div class="col-md-4 text-right mt-2 text-white">
              <label for="n">Password:</label>
          </div>
          <div class="col-md-8 mt-2">
             
            <input type="password" #regpswd="ngModel" required minlength="5" id="n" name="password" class="form-control" ngModel>
            <div *ngIf="regpswd.invalid&&(regpswd.dirty||regpswd.touched)" class="alert text-danger">
                <div *ngIf="regpswd.errors.required">
                    <p> *Password is required</p>
                </div>
                <div *ngIf="regpswd.errors.minlength">
                    <p>Password must be atleast 6 characters long</p>
                </div>
            </div>
        </div>
      </div>
        

          
                <div class="row">
                    <div class="col-md-4 text-right mt-2 text-white">
                      <label>Gender :</label>
                    </div>
                    <div class="col-md-8 mt-2">
                    <div class="form-check " *ngFor="let gender of genders">
                     
                      <label for={{gender}} class="form-check-label text-white">
                             
                           <input type="radio" name="gender" id={{gender}} [value]=gender class="form-check-input" ngModel>{{gender}}
                         
                
                      </label>
                    </div>
                  </div>
                  </div>


                






                  <div class=" form-group row">
                      <div class="col-md-4 text-right mt-3 text-white">
                             <label for="e">Email-Id:</label>
                      </div>
                      <div class="col-md-8 mt-3">
                          <!-- <input type="email" id="d" name="emailid" class="form-control" ngModel > -->
                          <input type="email" #regemail="ngModel" required minlength="5" id="e" name="emailid" class="form-control" ngModel>
                          <div *ngIf="regemail.invalid&&(regemail.dirty||regemail.touched)" class="alert text-danger">
                              <div *ngIf="regemail.errors.required">
                                  <p> *Email is required</p>
                              </div>
                             
                          </div>
                      </div>
                   </div>
                   <div class=" form-group row">
                        <div class="col-md-4 text-right mt-3 text-white">
                               <label for="mb">Mobile Number:</label>
                        </div>
                        <div class="col-md-8 mt-3">
                            <!-- <input type="number" id="d" name="number" class="form-control" ngModel > -->
                            <input type="number" #regnumber="ngModel" required minlength="5" id="mb" name="number" class="form-control" ngModel>
                            <div *ngIf="regnumber.invalid&&(regnumber.dirty||regnumber.touched)" class="alert text-danger">
                                <div *ngIf="regnumber.errors.required">
                                    <p> *Mobile Number is required</p>
                                    <p>Max 10 characters 0-9</p>
                                </div>
                               
                            </div>
                        </div>
                     </div>

                     <div class=" form-group row">
                        <div class="col-md-4 text-right mt-3 text-white">
                               <label for="d">D.O.B :</label>
                        </div>
                        <div class="col-md-8 mt-3">
                            <!-- <input type="date" id="d" name="dob" class="form-control" ngModel > -->
                            <input type="date" #regdob="ngModel" required minlength="5" id="n" name="dob" class="form-control" ngModel>
                            <div *ngIf="regdob.invalid&&(regdob.dirty||regdob.touched)" class="alert text-danger">
                                <div *ngIf="regdob.errors.required">
                                    <p> *Date of birth is required</p>
                                </div>
                               
                            </div>
                        </div>
                     </div>
                   <div class="row form-group">
                       <div class="col-md-4 text-right text-white mt-2">
                           <label for="e" >Address:</label>
                       </div>
                       <div class="col-md-8">
                           <textarea name="address" id="e" rows="4" class="form-control mt-2" ngModel></textarea>
                       </div>
                   </div>


                    
        <p class="text-center text-white mt-2">Select type of User</p>
        <label *ngIf="reg.invalid && (reg.dirty || reg.untouched)"><div class="text-danger text-center">*User selection is mandatory</div></label>
        <div class="form-check text-center">
            <label for="owner" class="form-check-label text-white">
                <input type="radio"  name="usertype" id="owner" value="owner" class=" text-center text-white form-check-input" ngModel #reg="ngModel" required>Owner
            </label>
        </div>
        <div class="form-check text-center">
            <label for="vendor" class="form-check-label text-white">
                <input type="radio" name="usertype" id="vendor" value="vendor" class=" text-center  form-check-input" ngModel #reg="ngModel" required>Vendor
            </label>
        </div>


                   <div class="text-center">
                       <button class="btn btn-success text-white" type="submit" (click)="submitRegisterData(ref.value)">Register</button>
                   </div>
    </form>
</div>

</div>
<div class="col-md-3"></div>
</div>
</div>
