<h1 class="text-success">Vendor dashboard</h1>
<div class="row">
    <div class="col-md-3">
    
    
    <nav class="navbar">
        <ul class="navbar-nav bg-dark ml-auto">
            <li class="nav-item">
                <a routerLink="vendorprofile" class="nav-link"> Profile</a>
            </li>
            <li class="nav-item">
                <a routerLink="whomtolet" class="nav-link">Whom-to-let</a>
            </li>
            <li class="nav-item">
                <a routerLink="vendorpayments" class="nav-link"> Payments</a>
            </li>
        </ul>
    
    </nav>
    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
    </div>