<h1 class="text-success">Owner dashboard</h1>
<div class="row">
<div class="col-md-3">


<nav class="navbar">
    <ul class="navbar-nav bg-light ml-auto">
        <li class="nav-item">
            <a routerLink="ownerprofile" class="nav-link"> Profile</a>
        </li>
       
        <li class="nav-item">
            <a routerLink="addhouse" class="nav-link">Add House</a>
        </li>
        <li class="nav-item">
            <a routerLink="viewwhouse" class="nav-link">View House </a>
        </li>
        <li class="nav-item">
            <a routerLink="viewclient" class="nav-link">View Client</a>
        </li>
        <!-- <li class="nav-item">
            <a routerLink="logout" class="nav-link">Logout </a>
        </li> -->
   
        <li class="nav-item">
            <a routerLink="ownerpayments" class="nav-link"> Payments</a>
        </li>
    </ul>

</nav>
</div>
<div class="col-md-9">
   
    <router-outlet></router-outlet>
</div>
</div>