<table class="table bg-dark text-white">
    <tr>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Mail-Id</th>
        <th>City</th>
        <th>Add</th>
        
    </tr>
    </table>
