<h1 class="text-center text-primary bt-3">
    Add Payments
</h1>
<form #ref="ngForm" (ngSubmit)="submitpaymentData(ref.value)">
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="a">Account Number</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="number" name="accno" id="a" class="from-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="i">IFSC Code</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="text" name="ifsc" id="i" class="from-control" ngModel>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4 text-right bt-2">
            <label for="g">Googlepay Number</label>
        </div>
        <div class="col-md-8 bt-2">
            <input type="number" name="googlepay" id="g" class="from-control" ngModel>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-info" type="submit">Add</button>
    </div>
</form>