<div *ngIf="b">
    <form #ref="ngForm" (ngSubmit)="onSubmit(ref.value)">
        <div class="form-group row">
                <div class="col-md-4 mt-3 text-right ">
            <label>Change name</label>
            </div>
            <div class="col-md-8 mt-3 ">
            <input type="text" [value]="objecttoModify.name" name="name" [(ngModel)]=objectToModify.name>
        </div>
    </div>
        <div class="form-group row">
                <div class="col-md-4 mt-3 text-right ">
            <label>Change Email-Id</label>
            </div>
            <div class="col-md-4 mt-3  ">
            <input type="text" [value]="objecttoModify.emailid" name="emailid" [(ngModel)]=objectToModify.emailid>
            </div>
        </div>
        <div class="form-group row">
                <div class="col-md-4 mt-3 text-right">
            <label>Change mobile number</label>
            </div>
            <div class="col-md-4 mt-3  ">
            <input type="text" [value]="objecttoModify.number" name="number" [(ngModel)]=objectToModify.number>
            </div>
        </div>
        <div class="text-center">
        <button class="btn btn-primary text-center" type="submit">save</button>
    </div>
    </form>
</div>

<table class="table" *ngFor="let o of data2">
    <tr>
        <td>Name</td>
        <td>{{o.name}}</td>
    </tr>
    <tr>
        <td>Email-Id</td>
        <td>{{o.emailid}}</td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td>{{o.number}}</td>
    </tr>
    <tr>
        <td>D.O.B</td>
        <td>{{o.dob}}</td>
    </tr>
    <tr class="text-center">
        <button class="btn btn-success" (click)="editProfile(o)">Edit</button>
    </tr>
</table>
<!-- <table class="table">
    <thead>
        <th>Name</th>
        <th>Email-Id</th>
        <th>Mobile Number</th>
        <th>D.O.B</th>
        
        
        
        
    </thead>
    <tr *ngFor="let o of data2" >
        <td>{{o.name}}</td>
        <td>{{o.emailid}}</td>
        <td>{{o.number}}</td>
        <td>{{o.dob}}</td>
        <button class="btn btn-success" (click)="editProfile(o)">Edit</button>
    </tr>
    
</table> -->
