<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav ">
 
        <li class="nav-item">
            <a routerLink="vendorviewprofile" class="nav-link">View Profile</a>
        </li>
    
  
       
          
    </ul>
</nav>

    <router-outlet></router-outlet>
