<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #ref="ngForm" (ngSubmit)="password(ref.value)">
                <div class="form-group mt-3">
                    <label>Enter username:</label>
                    <input type="text" name="name" class="form-control" ngModel>
                </div>
                <p class="text-center text-white">Select type of User</p>
        <div class="form-check text-center">
            <label for="owner" class="form-check-label">
                <input type="radio" name="usertype" id="owner" value="owner" class=" text-center form-check-input" ngModel>Owner
            </label>
        </div>
        <div class="form-check text-center">
            <label for="vendor" class="form-check-label ">
                <input type="radio" name="usertype" id="vendor" value="vendor" class=" text-center form-check-input" ngModel>Vendor
            </label>
        </div>

        <div class="text-center mt-1">
            <button class="btn btn-success" type="submit"  >Submit</button>
        </div>
       
         </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
