<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav ">
 
        <li class="nav-item">
            <a routerLink="ownerviewprofile" class="nav-link">View Profile</a>
        </li>
        <!-- <li class="nav-item">
            <a routerLink="ownereditprofile" class="nav-link">Edit Profile</a>
        </li> -->
        
      
    
       
          
    </ul>
</nav>

    <router-outlet></router-outlet>