 
 


   <div id="demo" class="carousel slide mt-2" data-ride="carousel"> 

        <!-- Indicators -->
         <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul> 
      
        <!-- The slideshow -->
         <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/pro12.jpg" alt="Home" height="450px" width="1700px">
          </div>
          <div class="carousel-item">
            <img src="assets/pro10.jpg" alt="Home" height="450px" width="1700px">
          </div>
          <div class="carousel-item">
            <img src="assets/home5.jpg" alt="Home" height="450px" width="1700px">
          </div>
        </div>
      
        <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
      <div class="card-deck mt-2">
          <div class="card">
              <div class="card-header bg-info ">
                  <h1 class=" text-center">Purpose</h1>
              </div>
              <div class="card-body">
                <p>     An online room rental system will provide the information about rooms/flats/houses which are available for rent in a particular area selected by user. 
                    </p>
              </div>
              <div class="card-footer bg-info"></div>
    
          </div>
          <div class="card">
              <div class="card-header bg-info">
                  <h1 class= "text-center">Advantages</h1>
              </div>
            <div class="card-body">
                <ul>
                    <li>Easy to find the house</li>
                    <li>Huge investment is not required</li>
                    <li>Less Responsibility</li>
                </ul>
            </div>
            <div class="card-footer bg-info"></div>
    
          </div>
          <div class="card">
              <div class="card-header bg-info">
                  <h1 class="text-center">
                      Categories
                  </h1>
    
              </div>
              <div class="card-body">
                  <ul>
                      <li>Single Bed Rooms</li>
                      <li>Double Bed Rooms</li>
                      <li>Triple Bed Rooms</li>
                      
                  </ul>
              </div>
              <div class="card-footer bg-info"></div>
          </div>
      </div>
      <div class="row bg-dark mt-3">
        <div class="col-md-3"></div>
          <div class="col-md-6">
              <h1 class="text-center text-white">
                  Contact Us
              </h1><hr/>
              <p class="text-center mt-1 text-white">9876543210</p>
              <p class="text-center text-white">admin@gmail.com</p>
              
              <p class="text-center text-white">Kukatpally</p>
              <p class="text-center text-white">Hyderabad.</p>
          </div>
          <!-- <div class="col-md-6">
              <h1 class="text-center text-white">Quick Links</h1>
              
              <a routerLink="login" class="nav-link text-center">Login</a>
              <a routerLink="register" class="nav-link text-center">Register</a>
              <a routerLink="aboutus" class="nav-link text-center">About Us</a>
              
    
    
          </div> -->
    <div class="col-md-3"></div>  
        </div>
         
        

  <router-outlet></router-outlet>

