<table class="table ">
    <tr >
        <th>Vendor Name</th>
        <th>Address</th>
        <th>Mail</th>
        <th>Phone Number</th>
        <th>Expected Price</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let data of data">
        <td>{{data.vendorname}}</td>
        <td>{{data.address}}</td>
        <td>{{data.emailid}}</td>
        <td>{{data.number}}</td>
        <td>{{data.eRent}}</td>

        <div *ngIf="data != undefined ">
            <button type="submit" class="btn btn-primary" (click)=accept(data)>Accept</button>
            <button type="submit" class="btn btn-danger" (click)=reject(data)>Reject</button>
        </div>
  
    </tr>
</table>